#md {
    max-width: 650px;
    margin: auto;
    margin-bottom: 150px;
    padding: 1em;
    visibility:hidden;
}

#footer {
    width: 100%;
    text-align: center;
    /* display: inline-block; */
    margin: auto;
    font-size: 0.8em;
}

    #footer a, #footer p {
        margin: 7px 5px;
        text-decoration: none;
        color: #777;
        display: inline-block;
    }